
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg {
    background: url('./assets/bg.png') no-repeat fixed;
    background-size: cover;
    background-position: center 40%;
  }
  .bg1{
    background: url('./assets/stars.svg');
    background-size: cover;
    background-position: center 40%;
  }
}